PetZombie/PetZombieAndroid/obj/Debug/
PetZombie/PetZombieAndroid/bin/Debug/
PetZombie/PetZombieUI/bin/Debug/
PetZombie/PetZombieUI/obj/Debug/
PetZombie/PetZombie/obj/Debug/
PetZombie/PetZombie/bin/Debug/
PetZombie/PetZombie.userprefs

